@import 'variables';

.apps-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-xlarge;
}

@media (max-width: 768px) {
  .apps-grid {
    grid-template-columns: 1fr;
  }
}

