.hello-fireworks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
  opacity: 1;
  transition: opacity 1s ease-out;

  &.fade-out {
    opacity: 0;
  }

  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
}

